<div xid="{{iSelect.xid}}"
     class="i-select ng-cloak"
     ng-class="{inline: iSelect.inline, nolabel: !iSelect.label}"
     ng-model="iSelect.model"
     i-valid="{{iSelect.validate}}"
     name="{{iSelect.name}}"
     label="{{iSelect.label}}">

  <label class="i-field-label" ng-if="iSelect.label" ng-bind="iSelect.label"></label>
  <rb-helper ng-if="iSelect.tooltip" tooltip="{{iSelect.tooltip}}"></rb-helper>
  <div class="read-only" ng-show="iSelect.readOnly" ng-bind="iSelect.getReadOnlyValue()"></div>
  <div ng-hide="iSelect.readOnly">
    <div ng-hide="iSelect.searchable" class="current-value" ng-click="iSelect.toggleList()">
      <span>{{ iSelect.getReadOnlyValue() }}</span>
    </div>
    <div ng-show="iSelect.searchable" class="i-select-search">
      <input type="text" ng-model="iSelect.searchQuery"
             ng-change="iSelect.openList()" placeholder="{{iSelect.placeholder}}" on-enter="iSelect.handleInputEvents(true)"
             i-max-length="{{iSelect.maxLength}}" i-format="{{iSelect.format}}" ng-click="iSelect.emitEvent()"/>

      <div class="reset-button" ng-if="iSelect.searchable && iSelect.searchQuery" ng-click="iSelect.handleReset()">
        <i class="ion-ios-close-empty"></i>
      </div>
    </div>

    <div class="i-select-toggle" ng-click="iSelect.toggleList()">
      <div ng-if="!iSelect.searchable" class="ion-arrow-down-b i-select-toggle-icon"></div>
      <div ng-if="iSelect.searchable" class="ion-search i-select-toggle-icon"></div>
    </div>

    <div class="i-select-list" ng-show="iSelect.listToggle" ng-class="{nolabel: !iSelect.label}">

      <!-- isArray-->
      <div class="is-array">
        <div ng-if="iSelect.template" ng-include="iSelect.template" class="i-select-item" data-index="{{ item[iSelect.returnAs] || $index}}"
             ng-repeat="item in iSelect.listData | filter: iSelect.searchQuery track by $index"
             ng-click="iSelect.handleSelect(item, true)"></div>
        <div ng-if="!iSelect.template" class="i-select-item" data-index="{{ item[iSelect.returnAs] || $index}}"
             ng-repeat="item in iSelect.listData | filter: iSelect.searchQuery track by $index" ng-click="iSelect.handleSelect(item, true)"
             ng-bind="iSelect.retrieveProperty(item, iSelect.viewAs)"></div>
      </div>

    </div>
  </div>
</div>
