<div xid="{{vm.xid}}"
     class="i-select"
     style="width:{{vm.size || 100}}%"
     ng-class="{inline: vm.inline, nolabel: !vm.label}"
     ng-model="vm.model"
     i-valid="{{vm.validate}}"
     name="{{vm.name}}"
     label="{{vm.label}}">

  <label class="i-field-label" ng-if="vm.label" ng-bind="vm.label"></label>
  <rb-helper ng-if="vm.tooltip" tooltip="{{vm.tooltip}}"></rb-helper>
  <div class="read-only" ng-show="vm.readOnly" ng-bind="vm.retrieveProperty(vm.handleSelected, vm.viewAs)"></div>
  <div ng-hide="vm.readOnly">
    <div ng-hide="vm.searchable" class="current-value" ng-click="vm.toggleList()">
      <span>{{ vm.retrieveProperty(vm.handleSelected, vm.viewAs) || vm.placeholder }}</span>
    </div>
    <div ng-show="vm.searchable" class="i-select-search">
      <input type="text" ng-model="vm.searchQuery"
             ng-change="vm.openList()" placeholder="{{vm.placeholder}}" on-enter="vm.handleInputEvents()"
             ng-blur="vm.handleInputEvents()" i-format="{{vm.format}}"/>

      <div class="reset-button" ng-if="vm.searchable && vm.searchQuery" ng-click="vm.reset()">
        <i class="ion-ios-close-empty"></i>
      </div>
    </div>

    <div class="i-select-toggle" ng-click="vm.toggleList()">
      <div ng-if="!vm.searchable" class="ion-arrow-down-b i-select-toggle-icon"></div>
      <div ng-if="vm.searchable" class="ion-search i-select-toggle-icon"></div>
    </div>

    <div class="i-select-list" ng-show="vm.listToggle" ng-class="{nolabel: !vm.label}">

      <!-- isArray-->
      <div class="is-array" ng-if="vm.isArray">
        <div ng-if="vm.template" ng-include="vm.template" class="i-select-item" data-index="{{ item[vm.returnAs] || $index}}"
             ng-repeat="item in vm.data | filter: vm.searchQuery track by $index"
             ng-click="vm.handleSelect(item)"></div>
        <div ng-if="!vm.template" class="i-select-item" data-index="{{ item[vm.returnAs] || $index}}"
             ng-repeat="item in vm.data | filter: vm.searchQuery track by $index" ng-click="vm.handleSelect(item)"
             ng-bind="vm.retrieveProperty(item, vm.viewAs)"></div>
      </div>

      <!-- isObject-->
      <div class="is-object" ng-if="vm.isObject">
        <div ng-if="vm.template" ng-include="vm.template" class="i-select-item" data-index="{{ item[vm.returnAs] || $index}}"
             ng-repeat="(key, item) in vm.data | filterObject: vm.searchQuery track by $index"
             ng-click="vm.handleSelect(item)"></div>
        <div ng-if="!vm.template" class="i-select-item" data-index="{{ item[vm.returnAs] || $index}}"
             ng-repeat="(key, item) in vm.data | filterObject: vm.searchQuery track by $index"
             ng-click="vm.handleSelect(item)"> {{ vm.retrieveProperty(item, vm.viewAs) }}
        </div>
      </div>
    </div>
  </div>
</div>
